body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f8f9fa; /* A very light gray background */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
